<div class="jumbotron jumbotron-extend">
    <div class="container-fluid jumbotron-container">
        <h1 class="site-name">メンバー募集</h1>
        <p><a class="btn btn-black" href="/recruitments" role="button"> 募集ページ</a></p>
    </div>
</div>

<div class="box">
<h3>Topics</h3>
<div class="scr">
<% @topics.each do |t| %>
  <%= link_to t.title, topic_path(t.id) %>
  <hr>
<% end %>
</div>

<%= link_to '新規投稿', new_topic_path %>
<br>
<h3><%= link_to 'more', topics_path %></h3>
</div>

<h3>EVENT</h3>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    
    <div class="carousel-item active "> 
      
      <%= image_tag "main2.jpg", :class => "img-responsive center-block d-block w-100" %>
    </div>
    <% @events.each do |carousel| %>
    <div class="carousel-item "> 
      <a href="/events/<%= carousel.id %>">
      
      <%= image_tag carousel.carousel_url, :class => "img-responsive center-block d-block w-100" %>
    </div>
  <% end %>
  </div>
  
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%= link_to '新規投稿', new_event_path %>
<br>
<p><%= link_to 'more', events_path %></p>