<p id="notice"><%= notice %></p>

<h1>Recruitments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      
    </tr>
  </thead>

  <tbody>
    <% @recruitments.each do |recruitment| %>
      <tr>
        <td><%= link_to User.find(recruitment.user_id).name, user_path(recruitment.user_id) %></td>
        <td><%= link_to recruitment.title, recruitment %></td>
        <td><%= link_to 'Destroy', recruitment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruitment', new_recruitment_path %>
