<%= form_with(model: [ @recruitments, Photo.new ], local: true) do |form| %>
  <div class="field">
    <%= form.label :image %>
    <%= form.hidden_field :image, value: @photo.cached_image_data if defined?(@photo.cached_image_data) %>
    <%= form.file_field :image %>
    <br>
    <%= form.submit '新規投稿' %>
  </div>
<% end %> 